<!DOCTYPE html>
<html>
    <head>
        <title>Notification</title>
    </head>
    <div class="menu" >
        <ul>
            <li>AVI D2H</li>
            <li><a routerLink="/user/dashboard" id="home">Home</a></li>
            <li><a routerLink="/user/addRecharge" id="PopularPlans">Popular plans</a></li>
            <li ><a routerLink="/user/addons" id="userAddOns">Add ons</a></li>
            <li ><a routerLink="/user/notification"id="notification">Notification</a><img src="https://cdn-icons-png.flaticon.com/128/891/891012.png" style="margin: 10px;" width="25" height="18"></li>
            <li><a routerLink="/user/getRecharge" id="history">Recharge details</a></li>
            <li id="logout">Logout<img src="https://cdn-icons-png.flaticon.com/128/847/847969.png" style="margin: 10px;" width="25" height="18"></li>
        </ul>
        
    </div>
    <body>
        <div id="notificationBody">
            <h3>You have recharged successfully</h3>
            <p>Your Subcriber Number:</p>
            <img src="https://cdn-icons.flaticon.com/png/128/5610/premium/5610944.png?token=exp=1645879221~hmac=f3055de249b158415d229c104339deee">
        </div>
        
    </body>
</html>
