<html>
    <head>
        <title>PopularPlans</title>
    </head>
    <div class="menu" >
        <ul>
            <li>AVI D2H</li>
            <li><a routerLink="/user/dashboard" id="home">Home</a></li>
            <li><a routerLink="/user/popularplans" id="PopularPlans">Popular plans</a></li>
            <li ><a routerLink="/user/addons" id="userAddOns">Add ons</a></li>
            <li><a routerLink="/user/Review" id="review">Review</a></li>
            <li id="notification">Notification<img src="https://cdn-icons-png.flaticon.com/128/891/891012.png" style="margin: 10px;" width="25" height="18"></li>
            <li><a routerLink="/user/getRecharge" id="history">Recharge details</a></li>
            <li id="logout">Logout<img src="https://cdn-icons-png.flaticon.com/128/847/847969.png" style="margin: 10px;" width="25" height="18"></li>
        </ul>
        
    </div>
    <body>
    <div class="combo-box" style="width:25%;" id="popularPlans">
        <span class="badge rounded-pill bg-dark" style="width: 260px; font-size: 20px;">All in One English Combo</span>
        <h3>₹146.98*</h3>
            <p>37 Pay Channels<br>
              * 37 SD Channels<br>
            English Combo offer</p>
            <button id="recharge" routerLink="/user/addRecharge">Recharge Now</button>
    </div>
    <div class="combo-box" style="width:25%;" id="popularPlans">
        <span class="badge rounded-pill bg-dark" style="width: 290px; font-size: 20px;">All in One English HD Combo</span>
        <h3>₹241.20**</h3>
            <p>38 Pay Channels<br>
              * 24 HD | 14 SD Channels<br>
            English HD channels</p>
            <button id="recharge" routerLink="/user/addRecharge">Recharge Now</button>
    </div>
    <div class="combo-box" style="width:25%;" id="popularPlans">
        <span class="badge rounded-pill bg-dark" style="width: 180px; font-size: 20px;">Kids HD Combo</span>
        <h3>₹259.55*</h3>
            <p>30 Pay Channels<br>
            Cartoon channels</p>
            <button id="recharge" routerLink="/user/addRecharge">Recharge Now</button>
    </div>
    <div class="combo-box" style="width:25%;" id="popularPlans">
        <span class="badge rounded-pill bg-dark" style="width: 260px; font-size: 20px;">D2H Diamond Tamil HD</span>
        <h3>₹220.15*</h3>
            <p>40 Pay Channels<br>
              * 30 SD Channels<br>
            Tamil HD Channels + Music </p>
            <button id="recharge" routerLink="/user/addRecharge">Recharge Now</button>
    </div>
    <div class="combo-box" style="width:25%;" id="popularPlans">
        <span class="badge rounded-pill bg-dark" style="width: 260px; font-size: 20px;">Tamil and Telugu Combo</span>
        <h3>₹499.98*</h3>
            <p>50+ Pay Channels<br>
              * 30 SD Channels<br>
            35 Tamil Channels + 32 Telugu Channels</p>
            <small class="combo-small" style="color: orangered;">Offer:10% upto Rs.100 cashback</small><br>
            <button id="recharge" routerLink="/user/addRecharge">Recharge Now</button>
    </div>
    </body>
</html>