
  <div class="menu" >
    <ul>
        <li>AVI D2H</li>
        <li><a routerLink="/user/dashboard" id="home">Home</a></li>
        <li><a routerLink="/user/popularplans" id="PopularPlans">Popular plans</a></li>
        <li ><a routerLink="/user/addons" id="userAddOns">Add ons</a></li>
        <li><a routerLink="/user/Review" id="review">Review</a></li>
        <li id="notification">Notification<img src="https://cdn-icons-png.flaticon.com/128/891/891012.png" style="margin: 10px;" width="25" height="18"></li>
        <li><a routerLink="/user/getRecharge" id="history">Recharge details</a></li>
        <li id="logout">Logout<img src="https://cdn-icons-png.flaticon.com/128/847/847969.png" style="margin: 10px;" width="25" height="18"></li>
    </ul>
    
</div>
    <div>
      <button  type="button" class="btn btn-success" routerLink="/user/addReview" style="margin-left: 45%; margin-top: 20px;">Add Review</button>
    </div>
                   

    <div class="container">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Review Id</th>
              <th>Name</th>
              <th>Feedback</th>
              <th>Rating</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pl of reviewdetails">
            <td>{{pl.reviewId}}</td>
            <td>{{pl.name}}</td>
            <td>{{pl.feedback}}</td>
            <td>{{pl.rating}}</td>
            <td> <img src="https://cdn-icons-png.flaticon.com/128/1827/1827933.png" (click)="openPopup(pl)" style="width: 25px;"></td>
            <td><img src="https://cdn-icons-png.flaticon.com/128/1345/1345874.png" (click)="delete(pl)" style="width: 30px;"></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}"
    id="exampleModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color:rgb(116, 13, 156);font-weight: bold;">UPDATE REVIEW</h5>
          <img src="../assets/cancel.png" (click)="close()" style="width: 20px;">
        </div>
        <div class="modal-body">
            <div class="container">
                <form #updateForm="ngForm" (ngSubmit)="register()"  >
                  
                    
                    <div class="page">
                      Name:  <input type="text"  [(ngModel)]="reviewsupdate.name" name="name" id="name" placeholder="Enter your name" required><br><br>
                    </div>
                   
                    <div class="page">
                      Feedback: <input type="text"  [(ngModel)]="reviewsupdate.feedback"name="feedback" id="rating" placeholder="Feedback" required><br><br>
                    </div>
                    <div class="page">
                      Rating: <input type="number"  [(ngModel)]="reviewsupdate.rating" name="rating" id="rating" placeholder="Enter your rating" required><br><br>
                    </div>
                    <div >
                        <button type="submit" class="btn btn-primary"  class="btn btn-primary" id="addOnButton" (click)="close()" style="margin-left: 140px; background-color: rgb(95, 13, 172);">Update Review</button>
                    </div>
                </form>   
            <div>    
        </div>  
        </div>
        </div>
        </div>

      
    
  
