.menu{
    background:purple ;
    text-align: center;
    height: 50px;
    }
    .menu ul{
        display: inline-flex;
        list-style: none;
        color: white;
    }
    .menu ul li{
        width:150px;
        margin:5px;
        padding: 7px;
        font-weight: bold;
    }
    ul li a{
        text-decoration: none;
        color:white;
    }
    #review{
        color: red;
        font-size: 20px;
    }
  

  